.background-overlay {
    position: fixed;
    inset: 0;
    /* top:0; right:0; bottom:0; left:0 */
    background-color: rgba(255, 255, 255, 1);
    /* Start: unsichtbar */
    z-index: 1;
}

/* Bild */
.homepage-image {
    width: 100px;
    height: 122px;
    position: absolute;
    z-index: 2;

    /* Startposition: Mitte */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2);
}

@keyframes backgroundFadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* Animation */
@keyframes startAnimation {
    0% {
        top: 50%;
        left: 50%;
        width: 274px;
        height: 334px;
        transform: translate(-50%, -50%) scale(2);

    }

    100% {
        top: 80px;
        /* oben */
        left: 77px;
        /* links */
        transform: translate(0, 0) scale(1);
    }
}

/* Animationsklasse */
.animiert {
    animation: startAnimation 0.5s ease-in-out forwards;
}

.bg-animiert {
    animation: backgroundFadeOut 0.5s ease-in-out forwards;
}

header {
    width: 279px;
    height: 49px;
    position: absolute;
    top: 67px;
    left: calc(100% - 279px - 70px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
}

/* .header-left {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 67px;
    right: 20px;
} */

header p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    width: 153px;
    height: 24px;
    margin: 0;
    padding: 0;

}

header button {
    width: 91px;
    height: 49px;
    background-color: #2A3647;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    font-style: bold;
    padding: 0;
}

header button a {
    text-decoration: none;
    color: white;
}

main {
    max-width: 652px;
    max-height: 449px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

section {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 48px 11px;

}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form img {
    width: 24px;
    height: 24px;
}

.form-header {
    font-style: normal;
    font-weight: bold;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-header h1 {
    font-size: 61px;
    margin: 0;
}

.underline_div {
    width: 90px;
    height: 3px;
    background-color: #29ABE2;
    margin-top: 16px;
}

.input-fields {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    max-width: 422px;
}

.input-icon-email {
    position: absolute;
    top: 0px;
    right: 0px;
}
.input-icon-password {
    position: absolute;
    top: 40px;
    right: 0px;
}

.form-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    width: 100%;
    max-width: 422px;
}

.form-buttons button {
    
    height: 48px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 21px;
    font-weight: 700;
    font-style: bold;
}

.btn-left {
    width: 110px;
    background-color: #2A3647;
    color: white;
    padding: 0;
}

.btn-right {
    width: 177px;
    background-color: white;
    color: black;
    padding: 0;
    border: 2px solid #2A3647 !important; 
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 246px;
    height: 35px;
    gap: 8px;
    position: absolute;
    bottom: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer a {
    text-decoration: none;
    color: #A8A8A8;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.footer_left {
    width: 121px;
    height: 35px;
}

.footer_right {
    width: 109px;
    height: 35px;
}