body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #F6F7F8;
}

.max-width-1440 {
    max-width: 1440px;
}

.wrapper {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

.d-none {
    display: none;
}

.overlay {
    position: fixed;
    inset: 0;
    background-color: rgb(0 0 0 / 50%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;

    /* Startzustand (versteckt) */
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s ease;
}

