<div class="nav-bar">
             <section class="nav-logo">
            <img src="/assets/img/Capa 1.png" alt="" class="nav-img">
        </section>
        <section class="nav-links">
            <nav>
                <a href="summary.html">
                    <img src="/assets/img/icons/summary.png" alt="">
                    <p>Summary</p>
                </a>
                <a href="add_task.html">
                    <img src="/assets/img/icons/addtasks.png" alt="">
                    <p>Add Tasks</p>
                </a>
                <a href="board.html">
                    <img src="/assets/img/icons/board.png" alt="">
                    <p>Board</p>
                </a>
                <a href="contacts.html">
                    <img src="/assets/img/icons/contact.png" alt="">
                    <p>Contacts</p>
                </a>
            </nav>
            <div class="footer-links">
                <a href="privacy_policy.html" class="footer-left">Privacy Policy</a>
                <a href="legal_notice.html" class="footer-right">Legacy notice</a>
            </div>
        </section>
        
</div>
