body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    height: 100%;
    width: 100%;
    display: flex;
}

.max-width-1440 {
    max-width: 1440px;
}


/** 
* Navigation Bar Styles
 */

.nav_bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2A3647;
    color: #fff;
    padding: 50px 0;
    height: 100vh;
    box-sizing: border-box;
    width: 100%;
    max-width: 232px;
}

.nav_img {
    width: 100px;
    height: 122px;
}

.nav_links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

section nav {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 1px;
    width: 100%;
}

nav a {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* wichtig */
    gap: 12px;
    width: 100%;
    padding: 8px 24px;
    box-sizing: border-box;
    text-decoration: none;
    color: #FFFFFF;
}


nav img {
    width: 30px;
    height: 30px;
}

nav p {
    margin: 0;
}

nav a:hover {
    background-color: #2A3D59;
}

.content {
    background-color: #2A3647;
    width: 100%;
    height: 100%;
    max-width: 1900px;
}


/**
* Header Styles
 */

 