body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    height: 100%;
    width: 100%;
    display: flex;
}

.max-width-1440 {
    max-width: 1440px;
}

.nav_bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2A3647;
    color: #fff;

   
    padding: 64px 0 40px;

    height: 100vh;
    box-sizing: border-box;
    width: 100%;
    max-width: 232px;
}

.nav_logo{
    width: 100%;
    display: flex;
    justify-content: center;

    
    margin-bottom: 72px;
}

.nav_img {
    width: 100px;
    height: 122px;
}

.nav_links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}


.nav_links nav {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 100%;

   
    gap: 12px;
}

.nav_links nav a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;

    width: 100%;
    padding: 10px 24px;  
    box-sizing: border-box;
    text-decoration: none;
    color: #FFFFFF;
}

.nav_links nav img {
    width: 30px;
    height: 30px;
}

.nav_links nav p {
    margin: 0;
}

.nav_links nav a:hover {
    background-color: #2A3D59;
}


.footer_links{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    padding-bottom: 8px;
}

.footer_links a,
.footer_links a:visited{
    color: #A8A8A8;
    text-decoration: none;
    font-size: 16px;
}

.footer_links a:hover{
    color: #29ABE2;
}


.content {
    background-color: #2A3647;
    width: 100%;
    height: 100%;
    max-width: 1900px;
}
