<div class="nav_bar">
    <!-- ...bisheriger Sidebar-Code... -->
             <section class="nav_logo">
            <img src="/imgs/Capa 2.png" alt="" class="nav_img">
        </section>
        <section class="nav_links">
            <nav>
                <a href="#">
                    <img src="/imgs/icons/summary.png" alt="">
                    <p>Summary</p>
                </a>
                <a href="#">
                    <img src="/imgs/icons/addtasks.png" alt="">
                    <p>Add Tasks</p>
                </a>
                <a href="#">
                    <img src="/imgs/icons/board.png" alt="">
                    <p>Board</p>
                </a>
                <a href="#">
                    <img src="/imgs/icons/contact.png" alt="">
                    <p>Contacts</p>
                </a>
            </nav>
            <div class="footer_links">
                <a href="/pages/privacy_policy.html" class="footer_left">Privacy Policy</a>
                <a href="/pages/legal_notice.html" class="footer_right">Legacy notice</a>
            </div>
        </section>
        
</div>